.overlay {
    position: fixed;
    inset: 0;
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
    padding: var(--spacingR);
    background: var(--bg2);
    z-index: 9999;
    overflow: auto;
}

.languageGrid {
    display: grid;
    align-content: flex-start;
    gap: var(--spacingR);
    max-height: 30vh;
    overflow: auto;
}

.selected {
    background: #258bff;
    color: white;
    border-color: #258bff;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}